@font-face{
    font-family: "Whitney Medium";
    src: url("./assets/fonts/whitneymedium.woff") format("woff");
}

@font-face{
    font-family: "Whitney Bold";
    src: url("./assets/fonts/whitneybold.woff") format("woff");
}

@font-face{
    font-family: "Whitney Light";
    src: url("./assets/fonts/whitneylight.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: "Whitney Light";
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    max-width: 100%;
    display: block;
    width: 100%;
}

.collaboration, .voice-channel, .moderation-tools, .video-call{
    padding: 5.6rem 0;
}

.voice-channel, .video-call, .download{
    background-color: #f6f6f6;
}

.btn {
    font-family: "Whitney Medium";
}

.hero{
    background-image: url("./assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.main-header{
    height: 8rem;
}

.container{
    max-width: 126rem;
    margin: 0 auto;
    padding: 0 3.4rem;
}

.logo{
    width: 13.4rem;
}

.main-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: none;
}

.nav-items-right{
    display: flex;
    align-items: center;
}

.btn-small{
    font-size: 1.4rem;
    padding: 0.7rem 1.6rem;
    border-radius: 4rem;
}

.btn-light{
    background-color: #fff;
    color: #23272a;
}

btn:hover{
    box-shadow: 0 0.8rem 1.5rem rgba(0,0,0, 0.2);
}

.btn-light:hover{
    color: #7289da;
}

.mobile-toggle{
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    margin-left: 1.5rem;
}

.hero-content{
    color: #fff;
    padding: 5.6rem 0;
}

.title{
    font-family: "Whitney Bold";
}

.primary-title{
    font-size: 4.8rem;
}

.hero-description{
    margin-top: 1.3rem;
    line-height: 3.2rem;
}

.hero-btn-group .btn-large{
    margin: 2.4rem 2.4rem 0 0;
    display: inline-flex;
}

.hero-btn-group .btn-light i{
    align-self: center;
    margin-right: 1rem;
}

.btn-large{
    padding: 1.6rem 3.2rem;
    border-radius: 4rem;
}

.btn-dark{
    background-color: #23272a;
    color: #fff;
}

.btn-dark:hover{
    background-color: #36393f;
}

.text-group{
    margin-top: 2rem;
}

.secondary-title{
    font-size: 4rem;
    color: #23272a;
}

.text-group p{
    line-height: 3.2rem;
    margin-top: 2rem;
}

.wave{
    color: #f6f6f6;
    display: block;
}

.wave-inverted{
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.download{
    padding: 0 2.4rem;
    text-align: center;
    padding-bottom: 5rem;
}

.download h2{
    font-family: "Whitney Medium";
}

.btn-brand{
    font-family: "Whitney Medium";
    background-color: #7269da;
    color: #fff;
    margin: 4rem 0;
    display: inline-flex;
    transition: background-color 0.3s ;
}

.btn-brand i{
    align-self: center;
    margin-right: 1rem;
}

.btn-brand:hover{
    background-color: #8ea1e1;
}

.download img{
    margin: 0 auto;
    padding: 0 40rem;
}

.voice-channel, .download {
    background-color: #f6f6f6; !important
}


.tagline{
    font-family: "Whitney Medium";
    font-size: 3.2rem;
    color: #7289da;
}

.flag{
    height: 1.6rem;
    width: 2.4rem;
    margin-right: 0.8rem;
    display: inline-block;
}

.dropdown{
    color: #fff;
} */

.container-bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: start;
}

.product, .resources,.company, .policies{
    margin: 0 0 4rem;
    display: -webkit-inline-box;
}

.product, .resources{
    width: 50%;
}

.options{
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
}

.navigator{
    padding: 0 2.4rem;
    background-color: #2c2f33;
    padding-bottom: 6rem;
    
}

.nav-list-bottom h5{
    font-family: "Whitney Light";
    color: #7289da;
    font-size: 16px;
}

.nav-list-bottom a{
    font-family: "Whitney Light";
    font-weight: 16px;
    color: #fff;
}

.nav-list-bottom li{
    padding: 0.8rem 0;
    font-size: 16px;
}

.socialmedia{
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.socialmedia a{
    color: #fff;
}

.bxl-twitter, .bxl-instagram, .bxl-facebook, .bxl-youtube{
    height: 3.5rem;
    width: 3.5rem;
}

.language{
    margin-top: 2rem;
    height: 1.5rem;
}

.tagline{
    padding-top: 8rem;
}

.bx-chevron-down{
    height: 0.5rem;
    width: 1.5rem;
}

/* No Edit Zone */

.line{
    background-color: #7269da;
    height: 0.1rem;
    margin-bottom: 3rem;
}

.btn-medium{
    padding: 0.7rem 1.6rem;
    border-radius: 4rem;
    line-height: 2.4rem;
    cursor: pointer;
    background-color: #7269da;
    color: #fff;
    display: inline-flex;
    font-family: "Whitney Medium";
    font-size: 14px;
    transition: background-color 0.3s;
    align-items: center;
    box-sizing: border-box;
    margin: 0; !important
}

.btn-medium:hover{
    background-color: #10121b;
}

.settings{
    display: flex;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}



@media (min-width: 768px){
.primary-title{
    font-size: 5.6rem;
}

.secondary-title{
    font-size: 4.8rem;
}

.collaboration, .voice-channel, .moderation-tools, .video-call{
    padding: 6.5rem 0;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.wrapper img{
    max-width: 90%;
}

.wrapper .text-group{
    max-width: 90%;
    padding: 0 7rem;
    margin: auto 0;
}

.voice-channel .wrapper{
    flex-direction: row-reverse;
}

.video-call{
    text-align: center;
}

.hero-content{
    width: 60rem;
}

.video-call .wrapper{
    display: block;
}

.video-call{
    padding-left: 5rem;
}

/* .video-call .wrapper .textgroup{
    max-width: 100%; !important
} */

.flex{
    display: flex;
    padding-top: 3.3rem; 
}

.box1, .box2{
    width: 50%;
}

.box2{
    padding-top: 8rem;
}

.box1{
    padding-left: 1.5rem;
}

}

@media(min-width: 1024px){

.collaboration, .voice-channel, .moderation-tools, .video-call{
    padding: 12rem 0;
}
   
.btn-open{
    display: none;
}

.nav-list{
    display: flex;
}

.nav-list a{
    color: #fff;
    font-size: 1.6rem;
    margin: 0 2rem;
    font-family: "Whitney Medium";
}

.nav-list a:hover{
    text-decoration: underline;
}

.hero-content{
    text-align: center;
    width: 75rem;
    margin: 0 auto;
    padding: 10rem 0;
}

.mobile-toggle {
    display: none;
} 

.flex{
    display: flex;
}

.box1{
    width: 25%;
}

.box2{
    display: flex;
}
.company, .policies, .product, .resources{
    margin-left: 11rem;
}

.why-dc{
    display: block;
}

}
